/* Styles to be reused for multiple controls */


/******************
    Label Styles
*******************/

/* Static Styles */
.global-template-labeled-control {
    display: grid;
    grid-template-columns: 2fr 1fr; /* default sizing and positioning of control's elements */
    grid-template-rows: none 1fr none; /* included since repositioning will change column and row values */
    grid-gap: 0px 5px;
    overflow: hidden;
}

.global-label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end; /* default horizontal position */
    align-items: center; /* default vertical position */
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
}

.global-main-control-elem {
    width: 100%;
    height: 100%;
    grid-column: 2;
    grid-row: 1;
    overflow: hidden;
}


/* Dynamic Styles */
/* Styles for label on right */
.label-right-elem {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: none 1fr none;
    grid-gap: 0px 5px;
}

.label-right-elem .global-label {
    grid-column: 2;
    grid-row: 1;
    justify-content: start;
}

.label-right-elem .global-main-control-elem {
    grid-column: 1;
    grid-row: 1;
}

/* Styles for label on top */
.label-top-elem {
    grid-template-columns: auto 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 5px 0px;
}

.label-top-elem .global-label {
    grid-column: 2 / span 2;
    grid-row: 1;
    justify-content: center;
}

.label-top-elem .global-main-control-elem {
    grid-column: 2;
    grid-row: 2;
}

/* Styles for label on bottom */
.label-bottom-elem {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 5px 0px;
}

.label-bottom-elem .global-label {
    grid-column: 2 / span 3;
    grid-row: 2;
    justify-content: center;
}

.label-bottom-elem .global-main-control-elem {
    grid-column: 2;
    grid-row: 1;
}

.no-label {
    grid-gap: 0px 0px;
}

/* Styles for various label to input ratios */
.left-2-1 {
    grid-template-columns: 2fr 1fr;
}

.left-1-1 {
    grid-template-columns: 1fr 1fr;
}

.left-1-2 {
    grid-template-columns: 1fr 2fr;
}

.left-auto {
    grid-template-columns: auto 1fr;
}

.right-2-1 {
    grid-template-columns: 1fr 2fr;
}

.right-1-1 {
    grid-template-columns: 1fr 1fr;
}

.right-1-2 {
    grid-template-columns: 2fr 1fr;
}

.right-auto {
    grid-template-columns: 1fr auto;
}

.top-2-1 {
    grid-template-rows: 2fr 1fr;
}

.top-1-1 {
    grid-template-rows: 1fr 1fr;
}

.top-1-2 {
    grid-template-rows: 1fr 2fr;
}

.top-auto {
    grid-template-rows: auto 1fr;
}

.bottom-2-1 {
    grid-template-rows: 1fr 2fr;
}

.bottom-1-1 {
    grid-template-rows: 1fr 1fr;
}

.bottom-1-2 {
    grid-template-rows: 2fr 1fr;
}

.bottom-auto {
    grid-template-rows: 1fr auto;
}


/******************
    Modal Styles
*******************/

/* Modal Light Theme Styles */
.confirmation-modal {
    --border-color: rgb(222, 226, 230);
    --background-color: rgb(227, 230, 233);
    --color: rgb(0, 0, 0);
    --background-color-hover: rgb(212, 216, 220);
    --background-color-active: rgb(192, 192, 197);
    width: 500px;
    height: 250px;
    font-size: 24px;
    background-color: var(--background-color);
    color: var(--color);
    border-radius: 8px;
    border: 1px solid var(--border-color);
}

.confirmation-message {
    position: absolute;
    width: 90%;
    height: 67%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.modal-button {
    position: absolute;
    width: 50%;
    bottom: 0px;
    height: 33%;
    background-color: transparent;
    border: none;
    border-top: 1px solid var(--border-color);
    font-family: unset;
    font-size: 24px;
}

.modal-button:hover {
    background-color: var(--background-color-hover);
}

.modal-button:active {
    background-color: var(--background-color-active);
}

.confirm-button {
    left: 0px;
    border-radius: 0px 0px 0px 8px;
    border-right: 1px solid var(--border-color);
    font-weight: bold;
    color: #175DB8;
}

.cancel-button {
    right: 0px;
    border-radius: 0px 0px 8px 0px;
    color: #EF4949;
}

/* Modal Dark Theme Styles */
.confirmation-modal.dark-theme {
    --border-color: rgb(76, 99, 116);
    --background-color: rgb(53, 52, 52);
    --color: rgb(255, 255, 255);
    --background-color-hover: rgb(47, 47, 47);
    --background-color-active: rgb(37, 37, 37);
}



.modal-buttons-disabled {
    background-color: rgb(235 235 236);
    color: rgb(166 177 186);
    pointer-events: none;
    touch-action: none;
}

.dark-theme .modal-buttons-disabled {
    background-color: rgb(82, 83, 95);
    color: rgb(120 121 133);
}

/* Change modal and font size based on screen width */
@media (max-width: 1024px) {
    .confirmation-modal {
        width: 400px;
        height: 200px;
        font-size: 18px;
    }

    .modal-button {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .confirmation-modal {
        width: 300px;
        height: 150px;
        font-size: 16px;
    }

    .modal-button {
        font-size: 16px;
    }
}